<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.SE114N21"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ViewModels.BottomNavigationNhanVien"
            android:exported="false" />
        <activity
            android:name=".ViewModels.BottomNavigation"
            android:exported="false" />
        <activity
            android:name=".ViewModels.EditProduct"
            android:exported="false" />
        <activity
            android:name=".ViewModels.ListProduct"
            android:exported="false" />
        <activity
            android:name=".ViewModels.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".ViewModels.DetailProduct"
            android:exported="false" />
        <activity
            android:name=".ViewModels.ThemHoaDon"
            android:exported="false" />
        <activity
            android:name=".ViewModels.admin_QLHoaDon"
            android:exported="false" />
        <activity
            android:name=".ViewModels.Login"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewModels.admin_QLSanPham"
            android:exported="false" />
        <activity
            android:name=".ViewModels.admin_QLKhachHang"
            android:exported="false" />
        <activity
            android:name=".ViewModels.AdminMain"
            android:exported="false" />
        <activity
            android:name=".ViewModels.NVMain"
            android:exported="false" />
        <activity
            android:name=".ViewModels.QLHoaDon"
            android:exported="false" />
        <activity
            android:name=".ViewModels.QLSanPham"
            android:exported="false" />
        <activity
            android:name=".ViewModels.QLKhachHang"
            android:exported="false" />
        <activity
            android:name=".ViewModels.SignUpSucess"
            android:exported="false" />
        <activity
            android:name=".ViewModels.SignUp"
            android:exported="false" />
        <activity
            android:name=".ViewModels.ChangeEmail"
            android:exported="false" />
        <activity
            android:name=".ViewModels.SendEmailSucess"
            android:exported="false" />
        <activity
            android:name=".ViewModels.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".ViewModels.NVProfile"
            android:exported="false" />
        <activity
            android:name=".ViewModels.Account"
            android:exported="false" />
        <activity
            android:name=".ViewModels.ConfirmNewPassword"
            android:exported="false" />
        <activity
            android:name=".ViewModels.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".ViewModels.AdminProfile"
            android:exported="false" />
        <activity
            android:name=".ViewModels.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ViewModels.CustomerActivity"
            android:exported="false" />
        <activity
            android:name=".ViewModels.admin_QLNhanVien"
            android:exported="true">

        </activity>
        <activity
            android:name=".ViewModels.ListProductType"
            android:exported="false" />
        <activity
            android:name=".ViewModels.AddCustomerActivity"
            android:exported="false" />
    </application>

</manifest>